@import '../styles/colors.scss';

.viewDetails {
    width: 65%;
    background-color: $lightgray;
    position: relative;
    padding: 3rem;

    &-image {
        width: 90%;
        margin-top: 8rem;
    }

    &-title {
        margin: 0;
    }

    &-price {
        position: absolute;
        bottom: 3rem;
        left: 45%;
    }
}