// Settings.scss
// Checkout.scss
@mixin position {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// SelectEquipment.scss
@mixin option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 22rem;
    height: 7rem;
    margin-bottom: 1rem;
    border: 1px solid $blue;
    cursor: pointer;
}

@mixin status($bgc, $color) {
    background-color: $bgc;
    color: $color;
}

// SelectColor.scss
@mixin imageStatus($width, $height) {
    height: $height;
    width: $width;
    border-radius: 50%;
}