@import '../styles/colors.scss';

.modelsTitle {
    margin-top: 4rem;
}

.modelsList {
    display: grid;
    grid-template-columns: repeat(4 , 2fr);
    margin: 0 auto;
    padding: 0 4rem;

    &-block {
        text-decoration: none;
        color: $black;
    }
}