.modelDescription {
    margin: 1.5rem 1rem;

    &-image {
        width: 100%;
        height: 10rem;
        object-fit: cover;
    }

    &-name {
        margin: 1rem 0 0.3rem 0;
    }

    &-price {
        font-weight: 700;
        color: #a9a9a9;
        margin: 0;
    }
}