@import '../styles/colors.scss';
@import '../styles/mixins.scss';

.colors {
    display: grid;
    grid-template-columns: repeat(4 , 2fr);
    grid-gap: 30px;
    margin: 2rem 5rem;

    &-details {
        text-align: center;
        cursor: pointer;
        font-size: 12px;

        &--image {
            @include imageStatus(30px, 30px);

            &-active {
                @include imageStatus(40px, 40px);
            }
        }
    
        &--name {
            margin: 6px 0 0;
        }
    
        &--additionalPrice {
            color: $gray;
        }
    }
}