@import '../styles/colors.scss';
@import '../styles/mixins.scss';

.settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    background-color: $white;
    padding-top: 3rem;
    position: relative;

    &-navigation {
        display: inherit;
        justify-content: space-between;
        position: absolute;
        bottom: 2rem;
        left: 2.5rem;
        width: 88%;

        .wrapper {
            @include position;
            width: 6rem;
            height: 4rem;
            background-color: $blue;
            cursor: pointer;
            text-decoration: none;
        }

        &--left, &--right {
            cursor: pointer;
            font-size: 2.5rem;
        }

        &--left {
            color: $blue;
            text-decoration: none;
        }

        &--right {
            color: $white;
        }

        &--proceed {
            @include position;
            background-color: $blue;
            font-size: 1.5rem;
            padding: 0 2rem;
            margin: 0 auto;
            color: $white;
            cursor: pointer;
            outline: none;
        }
    }
}